<%- include ('../common_files/sidebar') -%>
<%- include ('../common_files/style') -%>
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2>My Name</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
      I grew up partly in Centurion and partly on a farm in the North West province.
      When I was young I received a playstation 1 and have always loved technology since. Took IT as a subject in highschool and discovered programming in scratch and later delphi. I immediately knew I wanted to persue a career in programming.
    </p>
    
    <form action="/download-resume">
    <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> Download Resume
    </button>
  </form>
    
</div>