<%- include ('../common_files/sidebar') -%>
<%- include ('../common_files/style') -%>
<div class="w3-content w3-justify w3-text-grey w3-padding-64">
<h2>Pathfinding Project</h2>
<hr style="width:200px" class="w3-opacity">
    <p>In this project I used the <a href="https://unity.com/" style="color:black">Unity Engine</a> to create a pathfinding algorithm using the a-star method. The small blue dot represents a plane flying from it's base, the large blue dot, and avoiding obstacles to get to it's target destination. 
    </p>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="/images/Pathfinding.gif" style="width:100%">
        </div>
  
        <div class="w3-half">
          <img src="/images/Pathfinding.png" style="width:100%">
        </div>
    </div>

<h2>Smoke Alarm Project</h2>
<hr style="width:200px" class="w3-opacity">
    <p>
      In this project I designed and coded an arduino circuit for a smoke alarm. When too much smoke is detected using a gas sensor, the alarm will be triggered. The alarm can also be triggered with a temperature sensor so adjacent rooms or appartments can be warned before fire spreads to them. A button can be pressed to reset the system.
    </p>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="/images/ExampleCircuit.png" style="width:100%">
        </div>
  
        <div class="w3-half">
          <img src="/images/IOTcode.png" style="width:100%">
        </div>
    </div>
    
<h2>File Copy Project</h2>
<hr style="width:200px" class="w3-opacity">
    <p>
      In this project I created a simple program using C# to copy files from one directory to another.
    </p>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
          <img src="/images/CopyFiles.png" style="width:100%">
        </div>
  
        <div class="w3-half">
          <img src="/images/CopyCodeBit.png" style="width:100%">
        </div>
    </div>
    
</div>
<%- include ('../common_files/footer') -%>